OPSWebServices/Web References/OPSWebServices/Messages.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="M59">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="M59Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="M59Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="M3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="M3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="M3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Message">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="M59SoapIn">
    <wsdl:part name="parameters" element="tns:M59" />
  </wsdl:message>
  <wsdl:message name="M59SoapOut">
    <wsdl:part name="parameters" element="tns:M59Response" />
  </wsdl:message>
  <wsdl:message name="M3SoapIn">
    <wsdl:part name="parameters" element="tns:M3" />
  </wsdl:message>
  <wsdl:message name="M3SoapOut">
    <wsdl:part name="parameters" element="tns:M3Response" />
  </wsdl:message>
  <wsdl:message name="MessageSoapIn">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="MessageSoapOut">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:portType name="MessagesSoap">
    <wsdl:operation name="M59">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns CC Current Time, format:&lt;m59 id="81"&gt;&lt;/m59&gt;</documentation>
      <wsdl:input message="tns:M59SoapIn" />
      <wsdl:output message="tns:M59SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="M3">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Ping/Alarms/State Notification, format: &lt;m3 id="328" dst="4"&gt;&lt;u&gt;126&lt;/u&gt;&lt;a&gt;200&lt;/a&gt;&lt;s&gt;0&lt;/s&gt;&lt;d&gt;185037120305&lt;/d&gt;&lt;/m3&gt;</documentation>
      <wsdl:input message="tns:M3SoapIn" />
      <wsdl:output message="tns:M3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Message">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">General OPS Message Interface</documentation>
      <wsdl:input message="tns:MessageSoapIn" />
      <wsdl:output message="tns:MessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessagesSoap" type="tns:MessagesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="M59">
      <soap:operation soapAction="http://tempuri.org/M59" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="M3">
      <soap:operation soapAction="http://tempuri.org/M3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Messages">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="MessagesSoap" binding="tns:MessagesSoap">
      <soap:address location="http://localhost/OPSWebServices/Messages.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>