OPSCS/OPSMessages/Web References/WSObtenerImporteAnulacionEYSA_Getxo/Anulaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Upload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parkCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pndDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="plateNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fineStatus" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="numTicket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsolaSoapHeader" type="tns:ConsolaSoapHeader" />
      <s:complexType name="ConsolaSoapHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdContrata" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LocalTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NomUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumSerie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="EsExpedienteAnulable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="expediente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaParquimetro" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsExpedienteAnulableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EsExpedienteAnulableResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsExpedienteAnulableConCuantia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="expediente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaParquimetro" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EsExpedienteAnulableConCuantiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EsExpedienteAnulableConCuantiaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rdPQueryListOfFines">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rdPQueryListOfFinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rdPQueryListOfFinesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rdPQueryFinePaymentQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rdPQueryFinePaymentQuantityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rdPQueryFinePaymentQuantityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rdPConfirmFinePayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rdPConfirmFinePaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rdPConfirmFinePaymentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerExpedientesAnulablesPor1Matricula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sMatricula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerExpedientesAnulablesPor1MatriculaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerExpedientesAnulablesPor1MatriculaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFineAnulables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="denuncia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaDenuncia" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFinTicket" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="matricula" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="claveSancion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cuantiaSancion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="precepto" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cuantiaAnulacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFineAnulablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadFineAnulablesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadSoapIn">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="UploadSoapOut">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="UploadConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:message name="EsExpedienteAnulableSoapIn">
    <wsdl:part name="parameters" element="tns:EsExpedienteAnulable" />
  </wsdl:message>
  <wsdl:message name="EsExpedienteAnulableSoapOut">
    <wsdl:part name="parameters" element="tns:EsExpedienteAnulableResponse" />
  </wsdl:message>
  <wsdl:message name="EsExpedienteAnulableConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:message name="EsExpedienteAnulableConCuantiaSoapIn">
    <wsdl:part name="parameters" element="tns:EsExpedienteAnulableConCuantia" />
  </wsdl:message>
  <wsdl:message name="EsExpedienteAnulableConCuantiaSoapOut">
    <wsdl:part name="parameters" element="tns:EsExpedienteAnulableConCuantiaResponse" />
  </wsdl:message>
  <wsdl:message name="EsExpedienteAnulableConCuantiaConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:message name="rdPQueryListOfFinesSoapIn">
    <wsdl:part name="parameters" element="tns:rdPQueryListOfFines" />
  </wsdl:message>
  <wsdl:message name="rdPQueryListOfFinesSoapOut">
    <wsdl:part name="parameters" element="tns:rdPQueryListOfFinesResponse" />
  </wsdl:message>
  <wsdl:message name="rdPQueryListOfFinesConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:message name="rdPQueryFinePaymentQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:rdPQueryFinePaymentQuantity" />
  </wsdl:message>
  <wsdl:message name="rdPQueryFinePaymentQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:rdPQueryFinePaymentQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="rdPQueryFinePaymentQuantityConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:message name="rdPConfirmFinePaymentSoapIn">
    <wsdl:part name="parameters" element="tns:rdPConfirmFinePayment" />
  </wsdl:message>
  <wsdl:message name="rdPConfirmFinePaymentSoapOut">
    <wsdl:part name="parameters" element="tns:rdPConfirmFinePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="rdPConfirmFinePaymentConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:message name="ObtenerExpedientesAnulablesPor1MatriculaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerExpedientesAnulablesPor1Matricula" />
  </wsdl:message>
  <wsdl:message name="ObtenerExpedientesAnulablesPor1MatriculaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerExpedientesAnulablesPor1MatriculaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerExpedientesAnulablesPor1MatriculaConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:message name="UploadFineAnulablesSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFineAnulables" />
  </wsdl:message>
  <wsdl:message name="UploadFineAnulablesSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFineAnulablesResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFineAnulablesConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="AnulacionesSoap">
    <wsdl:operation name="Upload">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta anulaciones</wsdl:documentation>
      <wsdl:input message="tns:UploadSoapIn" />
      <wsdl:output message="tns:UploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsExpedienteAnulable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indica si el expediente es anulable o no</wsdl:documentation>
      <wsdl:input message="tns:EsExpedienteAnulableSoapIn" />
      <wsdl:output message="tns:EsExpedienteAnulableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EsExpedienteAnulableConCuantia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indica si el expediente es anulable (con cuantía correspondiente) o no</wsdl:documentation>
      <wsdl:input message="tns:EsExpedienteAnulableConCuantiaSoapIn" />
      <wsdl:output message="tns:EsExpedienteAnulableConCuantiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rdPQueryListOfFines">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta de las denuncias que tienen las matrículas</wsdl:documentation>
      <wsdl:input message="tns:rdPQueryListOfFinesSoapIn" />
      <wsdl:output message="tns:rdPQueryListOfFinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rdPQueryFinePaymentQuantity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta de si las denuncias que tienen las matrículas son anulables o no y su cuantía</wsdl:documentation>
      <wsdl:input message="tns:rdPQueryFinePaymentQuantitySoapIn" />
      <wsdl:output message="tns:rdPQueryFinePaymentQuantitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rdPConfirmFinePayment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Confirmación de la anulación de la matrícula</wsdl:documentation>
      <wsdl:input message="tns:rdPConfirmFinePaymentSoapIn" />
      <wsdl:output message="tns:rdPConfirmFinePaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerExpedientesAnulablesPor1Matricula">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta de las denuncias anulables que tiene una matrícula</wsdl:documentation>
      <wsdl:input message="tns:ObtenerExpedientesAnulablesPor1MatriculaSoapIn" />
      <wsdl:output message="tns:ObtenerExpedientesAnulablesPor1MatriculaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFineAnulables">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insercción de denuncias anulables</wsdl:documentation>
      <wsdl:input message="tns:UploadFineAnulablesSoapIn" />
      <wsdl:output message="tns:UploadFineAnulablesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnulacionesSoap" type="tns:AnulacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsExpedienteAnulable">
      <soap:operation soapAction="http://tempuri.org/EsExpedienteAnulable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EsExpedienteAnulableConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsExpedienteAnulableConCuantia">
      <soap:operation soapAction="http://tempuri.org/EsExpedienteAnulableConCuantia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:EsExpedienteAnulableConCuantiaConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rdPQueryListOfFines">
      <soap:operation soapAction="http://tempuri.org/rdPQueryListOfFines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:rdPQueryListOfFinesConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rdPQueryFinePaymentQuantity">
      <soap:operation soapAction="http://tempuri.org/rdPQueryFinePaymentQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:rdPQueryFinePaymentQuantityConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rdPConfirmFinePayment">
      <soap:operation soapAction="http://tempuri.org/rdPConfirmFinePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:rdPConfirmFinePaymentConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerExpedientesAnulablesPor1Matricula">
      <soap:operation soapAction="http://tempuri.org/ObtenerExpedientesAnulablesPor1Matricula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ObtenerExpedientesAnulablesPor1MatriculaConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFineAnulables">
      <soap:operation soapAction="http://tempuri.org/UploadFineAnulables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UploadFineAnulablesConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnulacionesSoap12" type="tns:AnulacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="Upload">
      <soap12:operation soapAction="http://tempuri.org/Upload" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
        <soap12:header message="tns:UploadConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsExpedienteAnulable">
      <soap12:operation soapAction="http://tempuri.org/EsExpedienteAnulable" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
        <soap12:header message="tns:EsExpedienteAnulableConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EsExpedienteAnulableConCuantia">
      <soap12:operation soapAction="http://tempuri.org/EsExpedienteAnulableConCuantia" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
        <soap12:header message="tns:EsExpedienteAnulableConCuantiaConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rdPQueryListOfFines">
      <soap12:operation soapAction="http://tempuri.org/rdPQueryListOfFines" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
        <soap12:header message="tns:rdPQueryListOfFinesConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rdPQueryFinePaymentQuantity">
      <soap12:operation soapAction="http://tempuri.org/rdPQueryFinePaymentQuantity" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
        <soap12:header message="tns:rdPQueryFinePaymentQuantityConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rdPConfirmFinePayment">
      <soap12:operation soapAction="http://tempuri.org/rdPConfirmFinePayment" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
        <soap12:header message="tns:rdPConfirmFinePaymentConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerExpedientesAnulablesPor1Matricula">
      <soap12:operation soapAction="http://tempuri.org/ObtenerExpedientesAnulablesPor1Matricula" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
        <soap12:header message="tns:ObtenerExpedientesAnulablesPor1MatriculaConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFineAnulables">
      <soap12:operation soapAction="http://tempuri.org/UploadFineAnulables" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
        <soap12:header message="tns:UploadFineAnulablesConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Anulaciones">
    <wsdl:port name="AnulacionesSoap" binding="tns:AnulacionesSoap">
      <soap:address location="http://10.2.3.66/ParquimetrosWSVS2012PRE/framework/Anulaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="AnulacionesSoap12" binding="tns:AnulacionesSoap12">
      <soap12:address location="http://10.2.3.66/ParquimetrosWSVS2012PRE/framework/Anulaciones.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>